* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  /*背景图片*/
  background-image: url(https://www.idodx.com/static/image/background-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  /*文字无法选中*/
  user-select: none;
}
